<h1>Edit lap</h1>

<form id="edit-lap" name="lap">
  <div class="field">
    <label for="brand"> brand:</label>
    <input type="text" name="brand" id="brand" value="<%= brand %>" >
  </div>

  <div class="field">
    <label for="model"> model:</label>
    <input type="text" name="model" id="model" value="<%= model %>" >
  </div>

  <div class="field">
    <label for="time"> time:</label>
    <input type="text" name="time" id="time" value="<%= time %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Lap" />
  </div>

</form>

<a href="#/index">Back</a>