<h1>Listing laps</h1>

<table id="laps-table">
  <tr>
    <th>Brand</th>
    <th>Model</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Lap</a>